@import "global";
@import "fonts";

// start header
.header {
  position: relative;
  z-index: 2;
  height: 675px;
  width: 100vw;
}

.top__line {
  height: 120px;
  color: #fff;
  position: relative;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  border-bottom: 1px solid #46453e;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  padding: 53px 40px;
  .header__menu {
    margin-left: 200px;
  }
  .menu__list {
    padding-top: 18px;
    li {
      color: #fff;
      font-size: 13px;
      cursor: pointer;
      & + li {
        margin-left: 55px;
      }
    }
  }
  .header__search {
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: flex-end;
    img {
      margin-top: 21px;
    }
  }
}
.header__menu a:hover {
  color: #c85f04;
}
.header__menu a.active {
  border-bottom: 3px solid #c85f04;
  padding-bottom: 30px;
  color: #c85f04;
}
//end slider
//start slider
.slider__box {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.slider__box-item {
  height: 100vh;
  outline: none;
  position: relative;
  overflow: hidden;
  background-position: top center;
  background-size: cover;
  position: relative;
  img {
    display: flex;
    width: 100%;
  }
}
.slider__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 750px;
  position: relative;
}
.slider-title {
  font-size: 60px;
  line-height: 60px;
  text-transform: uppercase;
  margin-bottom: 25px;
  font-weight: 700;
}
.slider__text {
  font-size: 18px;
  line-height: 60px;
  text-transform: capitalize;
  margin-bottom: 50px;
}
.slider__btn,
.tabs-btn {
  font-size: 13px;
  width: 170px;
  background-color: #c85f04;
  text-align: center;
  padding: 20px 30px;
  text-transform: uppercase;
}
ul.slick-dots {
  display: flex;
  justify-content: center;
  position: relative;
  height: 15px;
}
.slick-dots li {
  margin: 0 10px;
  height: 10px;
  width: 10px;
  border: 1px solid #dddddd;
  font-size: 0;
  margin-top: -60px;
  z-index: 2;
}
.slick-dots li button {
  display: none;
}
.slick-dots li.slick-active {
  background-color: #c85f04;
}
//end slider
//start services

.services {
  padding-bottom: 110px;
}
.tabs {
  display: flex;
  text-align: center;
  justify-content: space-between;
  span {
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    padding-top: 110px;
  }
  .tab {
    position: relative;
    width: 100%;
    height: 125px;
    background-color: #eeeeee;
    cursor: pointer;
  }
  .tab::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 125px;
    border: 140px solid transparent;
    border-top: 55px solid #eeeeee;
    max-height: 55px;
  }
  .icon-uniE67A,
  .icon-uniE6C4,
  .icon-uniE609 {
    margin-right: 20px;
  }
}
.icon-uniE67A:before,
.icon-uniE610:before,
.icon-uniE609:before,
.icon-uniE6C4:before {
  position: absolute;
  top: 30%;
  right: 40%;
  font-size: 60px;
}
.tab.active {
  background-color: #c85f04;
  color: #fff;
}
.tab.active::after {
  border: 139px solid transparent;
  border-top: 55px solid #c85f04;
}

.tab_content {
  margin-top: 55px;
  .tab-item {
    display: none;
    &:first-child {
      display: block;
    }
  }
}
.services__box {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
}
.title {
  font-size: 24px;
  line-height: 60px;
  text-transform: uppercase;
  max-width: 230px;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 57px;
  position: relative;
}
.title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 2px;
  width: 51px;
  height: 3px;
  background-color: #c85f04;
}
.services__content {
  max-width: 560px;
}
.services__box img {
  padding-right: 70px;
}

.services__box-text {
  font-family: "Raleway", sans-serif;
  color: #787878;
  line-height: 30px;
  margin-bottom: 50px;
}
//end services
//start work
.work {
  margin-bottom: 100px;
}
.work__inner {
  display: flex;
  justify-content: space-between;
}
.work__box {
  max-width: 570px;
  position: relative;
  .slick-dots li {
    margin-top: 30px;
    border: 1px solid #dddddd;
    height: 10px;
    width: 10px;
  }
}
.work__box.slick-dots {
  position: absolute;
  left: 0;
  bottom: 0;
}
.slider__item-work {
  height: 340px;
}
.work__content {
  margin-left: 30px;
  max-width: 570px;
  &-title {
    font-size: 16px;
    line-height: 24px;
    color: #444444;
    padding-bottom: 25px;
  }
  &-text {
    font-family: "Raleway", sans-serif;
    color: #787878;
    line-height: 30px;
    padding-bottom: 25px;
  }
}
.work__content-client,
.work__content-date,
.work__content-client {
  line-height: 30px;
  span {
    color: #787878;
  }
}
.work-btn {
  margin-top: 30px;
  color: #444444;
  font-size: 13px;
  width: 170px;
  border: 1px solid #dddddd;
  text-align: center;
  padding: 20px 30px;
  text-transform: uppercase;
}
.work-btn:hover {
  color: #fff;
  background-color: #c85f04;
}
//end work
//start video
.video {
  margin-bottom: 120px;
}
.video__inner {
  position: relative;
  img {
    height: 100%;
    width: 100%;
  }
  a {
    span {
      font-size: 24px;
      position: absolute;
      top: 60%;
      left: 40%;
      color: #fff;
    }
  }
}
.icon-uniE614:before {
  position: absolute;
  top: -90px;
  right: 90px;
  font-size: 60px;
}
//end video
// start about
.about__inner-top {
  display: flex;
  justify-content: space-between;
  .about__box {
    max-width: 570px;
    
    &-item{
      position: relative;
      margin-bottom: 65px;
    }
  }
}
.about__tab {
  top: 8px;
  left: 0;
  padding: 40px 25px;
  position: absolute;
  height: 105px;
  width: 85px;
  background-color: #eeeeee;
  cursor: pointer;
}
.about__tab::after {
  content: "";
  position: absolute;
  left: 85px;
  top: 0px;
  border: 53px solid transparent;
  border-left: 15px solid #eeeeee;
  max-height: 56px;
}
.about__tab:hover {
  background-color: #c85f04;
  color: #fff;
}
.about__tab:hover::after {
  border: 53px solid transparent;
  border-left: 15px solid #c85f04;
}
.icon-uniE637:before,
.icon-uniE676:before,
.icon-uniE67F:before {
  font-size: 36px;
}
.box-item__content {
  margin-left: 128px;
}
.box-item-title {
  font-size: 16px;
  line-height: 30px;
  padding-bottom: 30px;
}
.box-item-text {
  font-family: "Raleway", sans-serif;
  color: #787878;
  line-height: 30px;
}
.about__inner-buttom{
  display: flex;
  justify-content: space-between;
}
.tabs{
  max-width: 570px;
}
.tab + .tab-about {
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.tabs + .tabs-about span{
  display: block;
  font-size: 13px;
  max-height: 45px;
  text-transform: uppercase;
}
//  end about


// .tabs {
//   display: flex;
//   text-align: center;
//   justify-content: space-between;
//   span {
//     display: block;
//     font-size: 16px;
//     text-transform: uppercase;
//     padding-top: 110px;
//   }
//   .tab {
//     position: relative;
//     width: 100%;
//     height: 125px;
//     background-color: #eeeeee;
//     cursor: pointer;
//   }
//   .tab::after {
//     content: "";
//     position: absolute;
//     right: 0px;
//     top: 125px;
//     border: 140px solid transparent;
//     border-top: 55px solid #eeeeee;
//     max-height: 55px;
//   }
//   .icon-uniE67A,
//   .icon-uniE6C4,
//   .icon-uniE609 {
//     margin-right: 20px;
//   }
// }
// .icon-uniE67A:before,
// .icon-uniE610:before,
// .icon-uniE609:before,
// .icon-uniE6C4:before {
//   position: absolute;
//   top: 30%;
//   right: 40%;
//   font-size: 60px;
// }
// .tab.active {
//   background-color: #c85f04;
//   color: #fff;
// }
// .tab.active::after {
//   border: 139px solid transparent;
//   border-top: 55px solid #c85f04;
// }

// .tab_content {
//   margin-top: 55px;
//   .tab-item {
//     display: none;
//     &:first-child {
//       display: block;
//     }
//   }
// }